body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('img3BG.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #333;
}

h1, h3 {
    text-align: center;
    color: #555;
}
h1 {
    font-size: 1.8rem;
    color: #ffffff;
    margin: 20px 0;
}

h3 {
    font-size: 1.2rem;
    color: #333;
    margin: 15px 0 10px;
}

form {
    max-width: 600px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 0.9rem;
    font-weight: bold;
}

input, select, textarea, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #009908;
}

img {
    max-width: 100px;
    margin: 10px auto;
    display: block;
}



/* Responsive Design */
@media (max-width: 600px) {
    form {
        padding: 15px;
    }

    h1 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }
}
